/* Set the size of the div element that contains the map */
#map {
    height: 600px;  /* The height is 400 pixels */
    width: 80%;  /* The width is the width of the web page */
    /* position: relative;
    right: 5px; */
    border: 3px solid black;
    float: right;
    /* -webkit-webkit: flex shrink 5;
    -moz-webkit: flex shrink 5;
    -ms-webkit: flex shrink 5;
    -o-webkit: flex shrink 5;
    -webkit: flex shrink 2; */
}
#current-date{
    min-width:60px;
}
#candidateChecklist{
    display: flex;
    float: left;
    flex-direction: column;
    flex-wrap: wrap;
}
.container {
    display: flex;
}
/* .box{
    display: flex;
    float: left;
    flex-direction: column;
    flex-wrap: wrap;
} */
h1{
    text-align: center;
}
input[type="checkbox"] {
    display: inline-block;
    width: 15px;
    vertical-align: top;
}
.label-text {
    display: inline-block;
    width: 200px;
    word-break: break-all; 
}
  